
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<h2>Welcome to the Administrator Hub</h2>

<div class="jumbotron">
    <br />
 
    <p class="lead">Here you are able to update, delete and view users details on the site.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Details</h2>
        <p>
            Press the button below to view the users details that are currently signed up to the site.
        </p>
        <p><button class="btn btn-primary"> @Html.ActionLink("Details", "Index", "Customers") &raquo;</button></p>
    </div>
    <div class="col-md-4">
        <h2>Edit</h2>
        <p>The below button will allow you to edit user details.</p>
        <p><button class="btn btn-primary"> @Html.ActionLink("Edit", "Index", "Customers") &raquo;</button></p>
    </div>
    <div class="col-md-4">
        <h2>Delete</h2>
        <p>The button below will allow you to delete customers data, with their request.</p>
        <p><button class="btn btn-primary"> @Html.ActionLink("Delete", "Index", "Customers") &raquo;</button></p>
    </div>
</div>