@{
    ViewBag.Title = "Contact";
}
<br />
<br />

<h3>Contact Us!</h3>

<address>
    13 Norfolk Street<br />
    Leicester, United Kingdom<br />
    <abbr title="Phone">P:</abbr>
    07946274531
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@esportsecommerce.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketingesports@gmail.com</a>
</address>